<div class="footer-top clearfix">
	<span class="tech-rails">Rails</span>
	<span class="tech-html5">HTML5</span>
	<span class="tech-mongodb">Mongo<br>DB</span>
	<span class="tech-jquery">jQuery</span>
	<span class="tech-css3">CSS3</span>
	<span class="tech-haml">HAML</span>
	<span class="tech-sass">SASS</span>
	<span class="tech-coffee">Coffee<br>Script</span>
	<span class="tech-ios">iOS</span>
	<span class="tech-android">Android</span>
	<span class="tech-blackberry">Black<br>Berry</span>
</div>
<div class="footer-bot clearfix">
  <div class="left">
    <a href="http://github.com/sprout" class="github" title="Github">Github</a>
    <a href="http://twitter.com/#!/Sprout_Tech" class="twitter" title="Twitter">Twitter</a>
    <a href="http://www.facebook.com/pages/Sprout-Technology-Services/160376823993242" class="facebook" title="Facebook">Facebook</a>
    <a href="http://www.flickr.com/groups/sprout/" class="flickr" title="Flickr">Flickr</a>
    <a href="http://www.youtube.com/user/sproutech" class="youtube" title="YouTube">YouTube</a>
  </div>
  <div class="mid">
    Copyright &copy; 2011 Sprout Technology
  </div>
  <div class="right">
    <span>Our Products:</span>
    <a href="http://digitapservices.com" class="product-digitap" title="Digitap">Digitap</a>
    <a href="http://cloudfactory.com" class="product-cloud" title="CloudFactory">CloudFactory</a>
    <a href="http://bizcardarmy.com" class="product-bizcard" title="BizcardArmy">BizcardArmy</a>
  </div>
</div>